*{/*change entire page*/
  font-family:sans-serif;/*change font family to sans-sefir*/
  color:pink;
}
h1{
  color:red;
}
.active{
  /*this is a class*/
  /*put a black border around every element with a class of active*/
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
body{
 /*add a repeating background image*/
  background: white url(http://images.wikia.com/adventuretimewithfinnandjake/images/3/3a/S1e1_flip_out.png) repeat top right;
}
p{
  margin: 20px;
}
a:active {
    color: white;
}

a:hover {
    color:white;
}
